<!-- takes the layout template -->
{% extends "layout.html" %}

<!-- Page Heading -->
{% block heading1 %}
  <h1>About</h1>
{% endblock heading1%}

<!-- main section for the page -->
{% block container_box %}
<div class="container-wrapper">
  <div class="row">
    <div class="col-sm border-box">
      <h3 class="about-app-heading">Cloudtunes</h3>
      <p class="about-text">Cloudtunes was born in 2021, with the idea of bringing some extra joy to your life, by selecting songs based on your current weather.</p>
      <p class="about-text">Just because it's raining outside, doesn't mean you can't listen to some upbeat tunes! 🌦 🌩 🎧</p>
      <br />
      <p class="about-text">Have a little read about our Cloudtunes co-creators!</p>
    </div>
    <div class="col-sm ml-4 border-box">
      <h3 class="about-heading">Jules</h3>
      <p class="about-text">When I'm not pulling my hair out, because I added one too many identations to my Python code...I'm a self-professed foodie and skincare lover. 👩🏻‍🍳 🧖🏻‍♀️</p>
      <p class="about-text">Cute little coffee shops, delicious pastries and cakes are my calling! ☕️ 🥐 🍰</p>
      <br />
      <p class="about-text"><b>Current favourite song:</b> <a href="https://open.spotify.com/track/0LThjFY2iTtNdd4wviwVV2?si=ac99a18da3354f6e" class="sign-link" target="_blank">BTS - Permission To Dance</a></p>
    </div>
    <div class="col-sm ml-4 border-box">
      <h3 class="about-heading">Heather</h3>
      <p class="about-text">For a technology lover, I sure own a lot of pens and notebooks. 🖋️ 📓</p>
      <p class="about-text">If I'm not streaming music, I'm probably making music. Other hobbies include: playing videogames, parenting my houseplants, embroidering and losing at mini golf! 🎮 🪴 ⛳️</p>
      <p class="about-text"><b>Current favourite song:</b> <a href="https://open.spotify.com/playlist/2DsYfCPWDxZtFzHRj9mO4h?si=muua3cWFRvK6HJmGpuXUpA" class="sign-link" target="_blank">Most Sea Shanties</a></p>

    </div>
  </div>
<div class="spacing"></div>
  <div class="row">
    <div class="col-sm border-box">
      <h3 class="about-heading">Alex</h3>
      <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, tempora.</p>
      <p class="about-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio esse iusto quis soluta placeat, neque facere saepe doloribus quidem sint.</p>
      <br/>
      <p class="about-text"><b>Current favourite song:</b> <a href="#" class="sign-link" target="_blank">song here</a></p>
    </div>
    <div class="col-sm ml-4 border-box">
      <h3 class="about-heading">Johanna</h3>
      <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, tempora.</p>
      <p class="about-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio esse iusto quis soluta placeat, neque facere saepe doloribus quidem sint.</p>
      <br/>
      <p class="about-text"><b>Current favourite song:</b> <a href="#" class="sign-link" target="_blank">song here</a></p>
    </div>
    <div class="col-sm ml-4 border-box">
      <h3 class="about-heading">Kara</h3>
      <p class="about-text">I'm a problem solver by nature and coding gives me all the challenge I need.</p>
      <p class="about-text">I enjoy learning and teaching others and when I have some free time, I love to visit animal sanctuaries with my 2 children. I am also now a mum to 6 fluffy chicks. 👩‍🏫 💭 🐣 </p>
      <p class="about-text"><b>Current favourite song:</b> <a href="#" class="sign-link" target="_blank">song here</a></p>
    </div>
  </div>
</div>


{% endblock container_box %}