<!-- takes the layout template -->
{% extends "layout.html" %}

<!-- Page Heading -->
{% block heading1 %}
  <h1>Welcome to Cloudtunes</h1>
{% endblock heading1%}

<!-- main section for the page -->
{% block container_box %}
<div class="container-wrapper">
  <div class="row">
    <div class="col">
      <h2>Current Location:</h2> 
      <br/>
      <p class="yellow-text">{{ playlist.PlaylistLocationData.location}}, {{ playlist.PlaylistLocationData.country}}</p>
      <br />
      <h2>Current Weather:</h2> 
      <br/>
      <p class="yellow-text">{{ playlist.PlaylistLocationData.weather }}</p>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col">
      <p>Bored of listening to the same songs over and over again?</p>
      <p>Why don't you let us curate a playlist for you today? </p>
      <p class="yellow-text">Click on the below button and find out what music you can be listening to today!</p>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col">
      <a href="/spotify_login"><button class="btn btn-lg btn-info">Login to Spotify</button></a>
    </div>
  </div>
</div>
{% endblock container_box %}