<!-- takes the layout template -->
{% extends "layout.html" %}

<!-- Page Heading -->
{% block heading1 %}
  <h1>Your Curated Playlist</h1>
{% endblock heading1%}

{% block container_box %}
<div class="background-wrap">
  <div class="cloud-1">
    <div class="cloud"></div>
  </div>
  <div class="cloud-2">
    <div class="cloud"></div>
  </div>
  <div class="cloud-3">
    <div class="cloud"></div>
  </div>
  <div class="cloud-4">
    <div class="cloud"></div>
  </div>
  <div class="cloud-5">
    <div class="cloud"></div>
  </div>
  <div class="cloud-6">
    <div class="cloud"></div>
  </div>
</div>
<div class="container-wrapper">
  <div class="row">
    <div class="col-sm">
      <h2>Current Location:</h2> 
      <br/>
      <p class="yellow-text">{{ playlist.Location.location}}, {{ playlist.Location.country}}</p>
      <br />
      <h2>Current Weather:</h2> 
      <br/>
      <p class="yellow-text">{{ playlist.Location.weather }}</p>
    </div>
    <div class="col-sm">
      <h2>Your Playlist:</h2> 
      <br/>
      {% for item in playlist.tracks %}
        <a href={{ item.url }} class="song-link" target="_blank">{{ item.title }}</a>
        <br/>
      {% endfor %}
    </div>
    <div class="col-sm">
      <iframe src="https://open.spotify.com/embed/track/{{playlist.tracks[0].spotifyid}}" width="280" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</div>
{% endblock container_box %}