html {
  /* 1rem = 10px */
  font-size: 62.5%;
  }

body {
  background: #83C0F9;
  color: #333333;
  margin-top: 50px;
  margin-bottom: 60px;
}

h1 {
  color: #EDD55A;
  font-family: 'Pacifico';
  font-size: 5.7rem;
}

h2 {
  color: #EDD55A;
  font-family: 'Pacifico';
  font-size: 3rem;
}

p {
  color: #333333;
  font-family: 'Raleway';
  font-size: 1.5rem;
}

.navbar {
  font-family: 'Playfair Display';
  font-size: 1.6rem;
  background-color: #DCDADA;
}

.site-header .navbar-nav .nav-link {
  color: #276DBF;
}

.site-header .navbar-nav .nav-link:hover {
  color: #27B6BF;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.heading-box {
  justify-content: center;
  padding-top: 60px;
  text-align: center;
}

.container-box {
  justify-content: center;
  margin-top: 45px;
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  line-height: 50px; /* Vertically center the text there */
  background-color: #DCDADA;
}

.footer-box {
  justify-content: space-between;
  text-align: center;
}

.footer-p {
  margin: 0px;
  font-family: 'Playfair Display';
  font-size: 1.3em;
  color: #276DBF;
}

.content-box {
  justify-content: center;
  padding-top: 15px;
  text-align: center;
}
.content-message-box{
  /* background: #ffffff; */
  padding: 10px;
  /* border: 1px solid #dddddd;
  border-radius: 10px; */
  margin-bottom: 5px;
  font-family: 'Playfair Display';
  font-size: 1.5em;
  width: 600;
}


.content-form-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: 'Playfair Display';
  color: #276DBF;
  font-size: 1.5em;
  width: 800;
}

.form-control {
  font-size: 1em;
}

.form-check-label {
  padding-left: 5px;
}

.sign-link a {
  text-decoration: none;
  color: #276DBF;
}

.sign-link:hover {
  text-decoration: none;
  color: #27B6BF;
}
